* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.header-bkg {
    width: 100%;
    background: linear-gradient(-45deg, #ff9472, #0ABFBC, #5f2c82);
    background-size: 300% 300%;
    position: relative;
    animation: change 30s ease-in-out infinite;
    color: white;
}

.card-header {
    color: white;
}

.manager-card {
    box-shadow: 0px 0px 6px 3px rgb(95 44 130 / 30%);
}

.manager-header {
    background-color: #5f2c82;
}

.engineer-card {
    box-shadow: 0px 0px 6px 3px rgb(10 191 188 / 30%);
}

.engineer-header {
    background-color: #0ABFBC;
}

.intern-card {
    box-shadow: 0px 0px 6px 3px rgb(255 148 114 / 35%)
}

.intern-header {
    background-color: #ff9472;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}